.scale {
	position: absolute;
	top: 50%;
	left: 1%;

	transform: translate(0, -50%);

	width: 100px;
	height: 480px;

	background-image: url(../images/scale.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.triangle-right {
	position: absolute;
	top: 50%;
	left: 0.4%;

	transform: translate(0, -50%);

	width: 0;
	height: 0;

	border-top: 12px solid transparent;
	border-left: 24px solid black;
	border-bottom: 12px solid transparent;

	transition: linear 0.3s;
}
